<app-preloader></app-preloader>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal_fm" *ngIf="close">
    <h3 class="text-center pt-3">Text</h3>
    <div class="close_fm" (click)="close=false">
        <img src="/assets/img/icon/cancel.svg" alt="">
    </div>
    <div class="container-fluid">
        <form id="contactForm" [formGroup]="contactForm" novalidate>
            <div class="row contact-wrap">
                <div class="col-12 p-0">
                    <div class="form-group mb-1">
                        <input type="text" name="name" id="name" placeholder="Your Full Name"
                            [class]="submitted && f.fullName.status == 'INVALID' ? 'border_err form-control':'form-control'"
                            formControlName="fullName">
                    </div>
                </div>

                <div class="col-12 p-0">
                    <div class="form-group mb-1">
                        <input type="email" name="email" id="email" placeholder="Your Email"
                            [class]="submitted && f.email.status == 'INVALID' ? 'border_err form-control':'form-control'"
                            formControlName="email">
                    </div>
                </div>

                <div class="col-12 p-0">
                    <div class="form-group mb-1">
                        <input type="text" name="phone_number" id="phone_number" placeholder="Your Phone"
                            [class]="submitted && f.phone.status == 'INVALID' ? 'border_err form-control':'form-control'"
                            formControlName="phone">
                    </div>
                </div>

                <div class="col-12 p-0">
                    <div class="form-group mb-1">
                        <input type="text" name="msg_subject" id="msg_subject" placeholder="Subject"
                            [class]="submitted && f.subject.status == 'INVALID' ? 'border_err form-control':'form-control'"
                            formControlName="subject">
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 p-0">
                    <div class="form-group mb-1">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="2"
                            placeholder="Case Description"
                            [class]="submitted && f.description.status == 'INVALID' ? 'border_err form-control':'form-control'"
                            formControlName="description"></textarea>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 p-0">
                    <div class="text-center">
                        <button class="contact-btn" (click)="send()">Send</button><img *ngIf="success"
                            class="pl-2" src="/assets/img/icon/checked.svg" alt="">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>