<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="Logo"></a>
                        <ul *ngIf="contactData">
                            <li><a *ngIf="contactData.facebook" [href]="contactData.facebook" target="_blank"><i
                                class="icofont-facebook"></i></a></li>
                            <li><a *ngIf="contactData.instagram" [href]="contactData.instagram" target="_blank"><i
                                class="icofont-instagram"></i></a></li>
                            <li><a *ngIf="contactData.twitter" [href]="contactData.twitter" target="_blank"><i
                                class="icofont-twitter"></i></a></li>
                            <li><a *ngIf="contactData.linkedin" [href]="contactData.linkedin" target="_blank"><i
                                class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-service">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a routerLink="/"><i class="icofont-simple-right"></i> Home</a></li>
                            <li><a routerLink="about"><i class="icofont-simple-right"></i> About Us</a></li>
                            <li><a routerLink="services"><i class="icofont-simple-right"></i> Services</a></li>
                            <li><a routerLink="attorney"><i class="icofont-simple-right"></i> Lawyers</a></li>
                            <li><a routerLink="send-cv"><i class="icofont-simple-right"></i> CV</a></li>
                            <li><a routerLink="case-study"><i class="icofont-simple-right"></i>Our cases</a></li>
                            <li><a routerLink="contact"><i class="icofont-simple-right"></i> Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-find">
                        <h3>Contacts</h3>

                        <ul *ngIf="contactData">
                            <li><i class="icofont-location-pin"></i>{{contactData['address' + globalService.leng]}}</li>
                            <li><i class="icofont-ui-call"></i><a [href]="phone">{{contactData.phone}}</a></li>
                            <li><i class="icofont-at"></i> <a [href]="email">{{contactData.email}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>