
<section class="blog-area">
    <div class="container">
        <div class="section-title">
            <h2>Residence status</h2>
        </div>
    </div>
</section>


<section class="blog-area blog-area-two"  *ngIf="serviceData.length">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" *ngFor="let e of serviceData">
                <div class="blog-item wow fadeInUp" data-wow-delay=".3s">
                    <a (click)="navigate(e)" routerLink="/service-details">
                        <img [src]="e.img_url" alt="Service">
                    </a>

                    <div class="blog-inner">
                        <h3><a>{{e['title' + globalService.leng]}}</a></h3>
                        <a class="blog-link" (click)="navigate(e)" routerLink="/service-details">Read More<i class="icofont-simple-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>