<div class="home-slider-area">
    <div class="home-slider owl-theme owl-carousel">
        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>It’s Our Pride To Fight For Your Dream</h1>
                                    <p>FIGHTING FOR YOUR DREAM</p>
                                    <a routerLink="/">FREE CONSULTATION <i class="icofont-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-one" src="assets/img/home-two/home-slider/2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>Our attorney’s main goal is to challenge  for  your privileges</h1>
                                    <p>FIGHTING FOR YOUR DREAM</p>
                                    <a routerLink="/">FREE CONSULTATION <i class="icofont-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-two" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxZjeVqdKEj45hXIQL_9dgqJFBFomY1KwXcg&usqp=CAU" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg-one">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="slider-text">
                                    <h1>Our Attorney’s are Always Prepared to Oppose For You</h1>
                                    <p>FIGHTING FOR YOUR DREAM</p>
                                    <a routerLink="/">FREE CONSULTATION <i class="icofont-arrow-right"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-7">
                                <div class="slider-shape">
                                    <img class="s-s-three" src="assets/img/home-two/home-slider/4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-experts></app-experts>

<app-services></app-services>