<div class="modal" *ngIf="modal">
    <div class="modal_block">
        <div class="close" (click)="modal = !modal">
            <img src="/assets/icons/cancel.png" alt="" width="20px">
        </div>
        <form class="add_slider" [formGroup]="updateForm" novalidate>
            <h2>Update Service</h2>
            <div>
                <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
            </div>
            <div class="inp_block">
                <div class="input_style"><input type="text" formControlName="title_am" placeholder="Slider Title AM*">
                </div>
                <div class="input_style"><input type="text" formControlName="title_en" placeholder="Slider Title EN*">
                </div>
            </div>
            <div class="inp_block">
                <div class="input_style"><input type="text" formControlName="title_ru" placeholder="Slider Title RU*">
                </div>
                <div class="input_style"><input type="text" formControlName="title_fr" placeholder="Slider Title FR*">
                </div>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content am*'" formControlName="content_am" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content en*'" formControlName="content_en" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content ru*'" formControlName="content_ru" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content fr*'" formControlName="content_fr" [config]="editorConfig"></angular-editor>
            </div>
            <button class="send_butt" [disabled]="!updateForm.valid" (click)="updateData()">SEND</button>
        </form>
    </div>
</div>
<app-header></app-header>
<div class="container_fm">
    <app-sidebar></app-sidebar>
    <div class="pages_blog">
        <h1>Service Page</h1>
        <form class="add_slider" [formGroup]="angularForm" novalidate>
            <h2>Add Service</h2>
            <div>
                <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
            </div>
            <div class="inp_block">
                <div class="input_style"><input type="text" formControlName="title_am" placeholder="Slider Title AM*">
                </div>
                <div class="input_style"><input type="text" formControlName="title_en" placeholder="Slider Title EN*">
                </div>
            </div>
            <div class="inp_block">
                <div class="input_style"><input type="text" formControlName="title_ru" placeholder="Slider Title RU*">
                </div>
                <div class="input_style"><input type="text" formControlName="title_fr" placeholder="Slider Title FR*">
                </div>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content am*'" formControlName="content_am" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content en*'" formControlName="content_en" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content ru*'" formControlName="content_ru" [config]="editorConfig">
                </angular-editor>
            </div>
            <div class="inp_block">
                <angular-editor [placeholder]="'Content fr*'" formControlName="content_fr" [config]="editorConfig">
                </angular-editor>
            </div>
            <button class="send_butt" [disabled]="!angularForm.valid" (click)="sendData()">SEND</button>
        </form>
        <div class="slider_list" *ngIf="angularData && angularData.length">
            <h2 (click)="listCheck = !listCheck">Service List</h2>
            <table *ngIf="listCheck">
                <tr>
                    <th>Service Title AM</th>
                    <th>Service Title EN</th>
                    <th>Service Title RU</th>
                    <th>Service Title FR</th>
                    <th>Service Content AM</th>
                    <th>Service Content EN</th>
                    <th>Service Content RU</th>
                    <th>Service Content FR</th>
                    <th></th>
                </tr>
                <tr *ngFor="let e of angularData" style="height:40px">
                    <td>{{e.title_am | content}}</td>
                    <td>{{e.title_en | content}}</td>
                    <td>{{e.title_ru | content}}</td>
                    <td>{{e.title_fr | content}}</td>
                    <td>{{e.content_am | content}}</td>
                    <td>{{e.content_en | content}}</td>
                    <td>{{e.content_ru | content}}</td>
                    <td>{{e.content_fr | content}}</td>
                    <td>
                        <div class="icon_block">
                            <span class="icons_rem"><img src="/assets/icons/pencil.svg" alt="" width="18px"
                                    (click)="editModal(e)"></span>
                            <span class="icons_rem" (click)="delete(e)"><img src="/assets/icons/delete.svg" alt=""
                                    width="18px"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>