<section class="team-area mt-5" *ngIf='expertData'>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3" *ngFor="let e of expertData">
                <div class="team-item">
                    <img [src]="e.img_url" alt="Team">
                    
                    <div class="team-inner">
                        <ul>
                            <li><a *ngIf="e.facebook" [href]="e.facebook" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a *ngIf="e.instagram" [href]="e.instagram" target="_blank"><i class="icofont-instagram"></i></a></li>
                            <li><a *ngIf="e.twitter" [href]="e.twitter" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a *ngIf="e.linkedin" [href]="e.linkedin" target="_blank"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                        <h3><a (click)="navigate(e)"  routerLink="/attorney-details">
                            <p class="m-0">
                                {{e['name' + globalService.leng]}}
                            </p>
                            <p class="m-0">
                                {{e['surname' + globalService.leng]}}
                            </p>
                        </a></h3>
                        <span>{{e['position' + globalService.leng]}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>