<div class="page-title-area page-title-area-two title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>{{'Contacts' | translate}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="contact-form contact-form-four pb-100" *ngIf="contactData">
    <div class="loaction-area">
        <div class="container">
            <div class="row location-bg">
                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-call"></i>
                        </div>

                        <h3>{{'Phone' | translate}}</h3>

                        <ul>
                            <li><a [href]="phone">{{contactData.phone}}</a></li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i class="flaticon-email"></i>
                        </div>
                        <h3>{{'Email' | translate}}</h3>
                        <ul>
                            <li><a [href]="email">{{contactData.email}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i><img src="/assets/img/icon/home-address.svg" alt=""></i>
                        </div>

                        <h3>{{'Address' | translate}}</h3>

                        <ul>
                            <li [innerHTML]="contactData['address' + globalService.leng]"></li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i><img src="/assets/img/icon/calendar.svg" alt=""></i>
                        </div>
                        <h3>{{'Working days' | translate}}</h3>
                        <ul>
                            <li [innerHTML]="contactData['date' + globalService.leng]"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i><img src="/assets/img/icon/clock.svg" alt=""></i>
                        </div>

                        <h3>{{'Working hours' | translate}}</h3>

                        <ul>
                            <li>{{contactData['time']}}</li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="location-item">
                        <div class="location-icon">
                            <i><img src="/assets/img/icon/global.svg" alt=""></i>
                        </div>
                        <h3>{{'Languages' | translate}}</h3>
                        <ul>
                            <li [innerHTML]="contactData['lang' + globalService.leng]"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="location-item pl-3">
                        <h3 class="text-center">{{'Social' | translate}}</h3>
                        <div class="attor-social">
                            <div class="social-icon">
                                <a *ngIf="contactData.facebook" [href]="contactData.facebook" target="_blank"><i
                                        class="icofont-facebook"></i></a>
                                <a *ngIf="contactData.instagram" [href]="contactData.instagram" target="_blank"><i
                                        class="icofont-instagram"></i></a>
                                <a *ngIf="contactData.twitter" [href]="contactData.twitter" target="_blank"><i
                                        class="icofont-twitter"></i></a>
                                <a *ngIf="contactData.linkedin" [href]="contactData.linkedin" target="_blank"><i
                                        class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form id="contactForm" [formGroup]="contactForm" novalidate>
            <div class="row contact-wrap">
                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="{{'Your Full Name' | translate}}" [class]="submitted && f.fullName.status == 'INVALID' ? 'border_err form-control':'form-control'" formControlName="fullName" >
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="{{'Your Email' | translate}}"  [class]="submitted && f.email.status == 'INVALID' ? 'border_err form-control':'form-control'" formControlName="email" >
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="phone_number" id="phone_number" placeholder="{{'Your Phone' | translate}}" [class]="submitted && f.phone.status == 'INVALID' ? 'border_err form-control':'form-control'" formControlName="phone" >
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                        <input type="text" name="msg_subject" id="msg_subject" placeholder="{{'Subject' | translate}}" [class]="submitted && f.subject.status == 'INVALID' ? 'border_err form-control':'form-control'" formControlName="subject" >
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="form-group">
                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="{{'Case Description' | translate}}"  [class]="submitted && f.description.status == 'INVALID' ? 'border_err form-control':'form-control'" formControlName="description"></textarea>
                    </div>
                </div>

                <div class="col-md-12 col-lg-12">
                    <div class="text-center">
                        <button class="contact-btn" (click)="send()">{{'Submit' | translate}}</button><img *ngIf="success" class="pl-2" src="/assets/img/icon/checked.svg" alt="">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="map-area" *ngIf="contactData">
    <agm-map [latitude]="contactData.lat" [longitude]="contactData.lot" [zoom]="10" [scrollwheel]="false">
        <agm-marker
            [latitude]="contactData.lat"
            [longitude]="contactData.lot"
            >
        </agm-marker>
    </agm-map>
</div>