/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
}

.container_fm{
    display: flex;
}

.pages_blog{
    padding: 8px;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 32px;
}

.input_style{
    padding: 8px 0;
}

.input_style input{
    padding: 8px 0;
    width: 425px;
    height: 32px;
    border-radius: 6px;
    font-size: 18px;
    padding: 8px;
    margin-right: 15px;
}

.inp_block{
    display: flex;
}

.send_butt{
    padding: 0 16px;
    height: 32px;
    background-color: #38393a;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.send_butt:disabled{
    background-color: #9fa5ac;
}

.send_butt:focus{
    outline: none;
    border: none;
}

.icons_rem{
    cursor: pointer;
}

.icon_block{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .select_service{
    padding: 8px 0;
  }

  .select_service label{
      font-size: 18px;
      margin-right: 10px;
}

.modal{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(21,21,21, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_block{
    padding: 10px 20px;
    background-color: #fff;
    position: relative;
}

.modal_block .close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
