<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>Case Studies</h2>
            </div>
        </div>
    </div>
</div>

<section class="portfolio-area portfolio-area-two pt-100">
    <div class="container">
        <div class="section-title">
            <h2>Info</h2>
        </div>

        <div class="row" *ngIf="infoData">
            <div class="col-sm-6 col-lg-4" *ngFor="let e of infoData">
                <div class="portfolio-item wow fadeInUp" data-wow-delay=".3s">
                    <img [src]="e.img_url" alt="Portfolio" height="300px">

                    <div class="portfolio-inner">
                        <h3><a (click)="navigate(e)" routerLink="/case-study-details">{{e['title' + globalService.leng]}}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>