<div class="page-title-area title-img-one">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-text">
                <h2>{{'Case details' | translate}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="case-details-img pt-100 pb-70" *ngIf="infoData">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="case-details-item">
                    <img [src]="infoData.img_url" alt="Case">
                </div>
            </div>

            <div class="col-lg-7">
                <div class="case-details-item">
                    <h3>{{infoData['title' + globalService.leng]}}</h3>
                    <div [innerHTML]="infoData['content' + globalService.leng]"></div>
                </div>
            </div>
        </div>
    </div>
</div>